body{
  background-color: gainsboro;
}
figure{
  width: 80px;
  height: 180px;
}
figure img{
  width: 100%;
  height: 100%;
  
}
.item{
  margin-top: 10px;
  width: 210px;
  height: 349px;
  border: 3px solid black;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  box-shadow: black 3px 3px 5px ;
  background-color: rgb(226, 225, 225);
  display: grid;
  place-items: center;
}
h2{
  font-size: 17px;
}
.container-items{
  display: flex;
}
.div-h2 h2{
  font-size: 17px;
margin: 2px;
}
.link-detalles{
  text-decoration: none;
  color: white;
}
.div-link{
  display: flex;
  justify-content: center;
  width: 210px;
  height: 34px;
  background-color: black;
}
h3 {
  font-size: 13px;
  color: red;
  margin-left: 40px;
}
header{
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px grey solid;
  margin-bottom: 26px;
  background-color: antiquewhite;
}
.container-icon img{
margin-top: 18px;
}
span{
  margin-left: 430px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 4px 4px 21px rgb(104, 118, 167);
}
.container-icon span{
  margin-left: 1000px;
}

